* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Setting Page */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 90%;
    /* Debug content */
    margin: 0 auto;
}

.pink {
    background-color: pink;
    height: 100px;
}

.yellow {
    width: 100%;
    background-color: yellow;
    float: left;
    height: 400px;
    margin-top: 20px;
}


#colonna_alta {
    background-color: lightblue;
    width: 100%;
    float: left;
    height: 60px;
    margin-top: 20px;
}

#colonna_sinistra {
    background-color: lightblue;
    width: 15%;
    float: left;
    height: 400px;
    margin-top: 10px;
}


#colonna_centrale {
    background-color: lightblue;
    width: 65%;
    float: left;
    height: 400px;
    margin-top: 10px;
    margin-left: 42px;
}

#colonna_destra {
    background-color: lightblue;
    width: 15%;
    float: right;
    height: 400px;
    margin-top: 10px;
}

/* Footer */

.purple{
    background-color: purple;
    height: 70px;
    margin:10px auto;
}


/* Styling Page */

a:link {
    text-decoration: none;
    color: #0000CC;
}

#logo {
    width: 140px;
    margin-bottom: 15px;
}

#vl{
    display: inline-block;
    border-left: 1px solid gray;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 24px;
}

#lista_nav, li {
    list-style-type: none;
    display: inline;
    color: gray;
    margin-right: 10px;
    margin-top: 15px;
}